.memoBlock{
    width: 200px;
    height: 200px;
    padding: 30px;
    box-shadow: 9px 17px 13px rgb(0 0 0 / 16%);
  }
  
  button{
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius : 50%;
    cursor: pointer;
    float: right;
  }