.container{
  background:#E5E0D8;
}

.wrapper{
  display:flex;
  justify-content: center;
}

.title{
  width: 500px;
  height:400px;
  padding: 30px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
}


form{
  display: flex;

}
input{
  flex: 10;
  padding: 5px;
}

.btn{
  flex:1;
}